$blue: blue;

.insertComponent .ck-button__label {
  width: auto;
}

.ck.ck-dropdown .ck-button.ck-dropdown__button.insertComponent .ck-button__label {
  width: auto;
}

html {
  padding: 10px;
}
.ck.ck-button {
  &.edit-hint-icon {
    background: url(../src/assets/edit.svg) no-repeat center !important;
  }

  &.delete-hint-icon {
    background: url(../src/assets/delete.svg) no-repeat center !important;
  }
  &.save-hint-icon {
    background: url(../src/assets/save.svg) no-repeat center !important;
  }
  &.cancel-hint-icon {
    background: url(../src/assets/cancel.svg) no-repeat center !important;
  }
  &.hint-icon {
    background: url(../src/assets/hint.svg) no-repeat center !important;
    &.ck-on {
      background-color: #F2F2F2 !important;
    }
  }
  &:not(.ck-disabled):hover {
    background-color: #F2F2F2 !important;
  }
  &.ck-disabled {
    opacity: .3;
  }

}
.ck-hint {
  border-bottom: 1px dotted #8b8b8b;
}
.ck.ck-balloon-panel {
  & .ck.ck-hint-form {
    min-width: 300px;
    padding: 8px;
    outline: none;
    & .button-panel {
      float: right;
    }
    & .hint-editor-container {
      margin-bottom: 4px;
      & .ck.ck-content.ck-editor__editable {
        max-width: 580px;
        overflow-x: hidden;
        & * {
          word-break: break-word;
          white-space: normal;
        }
      }
    }
  }

  & .ck.ck-input-text {
    box-shadow: none;
    outline: none;
    &:focus {
      border-color: #CB11AB;
    }
  }
}


.info-block {
  & > div {
    height: 40px;
    background-color: aquamarine;
  }
}
.info-block-caption {
  padding: 8px;
  line-height: 2rem;
  display: block !important;
}
.info-block-caption.ck-placeholder::before {
  content: attr(data-placeholder);
  pointer-events: none;
  cursor: text;
  color: black;
}


.ck-editor__nested-editable_focused::before {
  display: none;
}
